%article.deposit
  %section.description
    = deposit["value"]["description"]
  %header
    %span.date
      = deposit["value"]["deposited_date"]
    - if deposit["value"]["link_to_paper"]
      - filename = deposit["value"]["link_to_paper"]
      - filename_extension = filename[filename.rindex(".")+1..filename.length].upcase
      %a.link{:href => "#{filename}"}
        Download
        = filename_extension
        file
  %footer
    %ul.facets
      Tags
      - deposit["value"]["department"].each do |dept|
        %li.facet{:data => {:department => dept}}
          &middot;
          %a{:href=>"/department/" + dept}= dept
      - deposit["value"]["legislature"].each do |legislature|
        %li.facet{:data => {:legislature => legislature}}
          &middot;
          %a{:href=>"/legislature/" + legislature}= legislature
