- if @session
  %h2 Papers deposited during the #{@session} session
- elsif @year == "pre2007"
  %h2 Papers deposited between January and October 2007
- elsif @year == "2007"
  %h2 Papers deposited between October and December 2007  
  
  Page #{@current_page} of #{@last_page}
  
  -if @current_page < @last_page
    %a{:href => "/#{@year}/#{@current_page.to_i+1}"} Next page
  

- @results.each do |deposit|
  = haml :deposit, {:layout => false, :locals => {:deposit => deposit} }