%div.deposited_paper
  %span.deposited_date
    #{deposit["value"]["deposited_date"]}
  %span.department
    #{deposit["value"]["department"]}
  %b.description
    #{deposit["value"]["description"]}
  - if deposit["value"]["link_to_paper"]
    %span.download
      - filename = deposit["value"]["link_to_paper"]
      %a.document_url{:href => "#{filename}" } #{deposit["value"]["_id"]} <b>#{filename[filename.rindex(".")+1..filename.length].upcase}</b>
  - if deposit["value"]["legislature"]
    - if deposit["value"]["legislature"].include?("Lords")
      [Lords]
    - if deposit["value"]["legislature"].include?("Commons")
      [Commons]
        