- if @session
  %h2 Papers deposited during the #{@session} session
- elsif @year == "pre2007"
  %h2 Papers deposited between January and October 2007
- elsif @year == "2007"
  %h2 Papers deposited between October and December 2007

.navigation
  - @last_page = (@total_records.to_f / settings.page_length.to_f).ceil
  - if params[:page]
    - @current_page = params[:page].to_i
  - else
    - @current_page = 1
    
  - if @current_page > 1
    %a{:href => "/#{@year}/#{@current_page-1}"} Previous page
  
  
  Page #{@current_page} of #{@last_page}
  
  -if @current_page < @last_page
    %a{:href => "/#{@year}/#{@current_page.to_i+1}"} Next page
  

- @results.each do |deposit|
  %div.deposited_paper
    %h3.reference
      - if deposit["value"]["link_to_paper"]
        %a.document_url{:href => "#{deposit["value"]["link_to_paper"]}" } #{deposit["value"]["_id"]}
      - else
        #{deposit["value"]["_id"].gsub("DEP07-","07/")}
    %span.deposited_date
      #{deposit["value"]["deposited_date"]}
    &nbsp;-&nbsp;
    %span.department
      #{deposit["value"]["department"]}
    %br
    .description
      #{deposit["value"]["description"]}
    - if deposit["value"]["legislature"]
      Document held by:
      - if deposit["value"]["legislature"].include?("Lords")
        .legislature
          House of Lords
      - if deposit["value"]["legislature"].include?("Commons")
        .legislature
          House of Commons
    %hr