- @results.each do |deposit|
  %div.deposited_paper
    %h3.reference #{deposit["value"]["_id"]}
    - if deposit["value"]["legislature"] && deposit["value"]["legislature"].include?("Lords")
      .legislature
        House of Lords
    - if deposit["value"]["legislature"] && deposit["value"]["legislature"].include?("Commons")
      .legislature
        House of Commons
    %p.department
      #{deposit["value"]["department"]}
    %p.description
      #{deposit["value"]["description"]}
    Date Deposited:
    %span.deposited_date
      #{deposit["value"]["deposited_date"]}
    - if deposit["value"]["link_to_paper"]
      %br
      %a.link_to_paper{:href => "#{deposit["value"]["link_to_paper"]}" } View document #{deposit["value"]["_id"]}
      
=@total_records