%br
%article.deposit
  %header.description
    #{deposit["value"]["description"]}
  %p
    %span.department
      #{deposit["value"]["department"]}
    %br
    %span.date
      #{deposit["value"]["deposited_date"]}
  - if deposit["value"]["link_to_paper"]
    %p.link
    - filename = deposit["value"]["link_to_paper"]
    %a{:href => "#{filename}" } 
      #{filename[filename.rindex(".")+1..filename.length].upcase}
  - if deposit["value"]["legislature"]
    %footer.legislature
      - if deposit["value"]["legislature"].include?("Lords")
        %span.lords-library L
      - if deposit["value"]["legislature"].include?("Commons")
        %span.commons-library C
