.deposit
  .description
    = deposit["value"]["description"]
  .header
    - if deposit["value"]["link_to_paper"]
      - filename = deposit["value"]["link_to_paper"]
      - filename_extension = filename[filename.rindex(".")+1..filename.length].upcase
      %a.link{:href => "#{filename}"}
        Download
        = filename_extension
        file
    - else
      %a.link
        No download available
    .date
      = deposit["value"]["deposited_date"]
   
  .footer
    - filtered_depts = deposit["value"]["department"] - [@tag_unescaped]
    - if filtered_depts.length > 0
      .tags
        .label Tags
        %ul.tags
          - filtered_depts.each do |dept|
            %li.tag{:data => {:tag => dept}}
              &middot;
              %a{:onClick=>"window.location='/tags/" + dept + "'"}= dept
    - if deposit["value"]["legislature"]
      .sources
        .label Sources
        %ul.sources
          - deposit["value"]["legislature"].each do |legislature|
            %li.source{:data => {:source => legislature}}
              &middot;
              %a= legislature
