%article
  %header
    #{deposit["value"]["description"]}
  %p
    #{deposit["value"]["department"]}, #{deposit["value"]["deposited_date"]}
  - if deposit["value"]["link_to_paper"]
    %p
    - filename = deposit["value"]["link_to_paper"]
    %a{:href => "#{filename}" } #{deposit["value"]["_id"]} #{filename[filename.rindex(".")+1..filename.length].upcase}
  - if deposit["value"]["legislature"]
    %p
      - if deposit["value"]["legislature"].include?("Lords")
        Deposited in the Lords Library
      - if deposit["value"]["legislature"].include?("Commons")
        Deposited in the Commons Library
  %hr   