
%article.deposit
  %section.description
    = deposit["value"]["description"]
  %header
    %span.date
      = deposit["value"]["deposited_date"]
    - if deposit["value"]["link_to_paper"]
      - filename = deposit["value"]["link_to_paper"]
      %a.link{:href => "#{filename}"}
        Download
        = filename[filename.rindex(".")+1..filename.length].upcase
  %footer
    More from:
    %ul.facets
      - deposit["value"]["department"].each do |dept|
        %li.facet{:data => {:department => dept}} 
          %a{:href=>"/department/" + dept}= dept
      - deposit["value"]["legislature"].each do |legislature|
        %li.facet{:data => {:legislature => legislature}}
          %a{:href=>"/legislature/" + legislature}= legislature
