#page_heading
  %nav
    %h2
      ="#{@session} session"

- if request.user_agent =~ /iPad/
  .columns
    .column1
      %article
        = haml :deposit, {:layout => false, :locals => {:deposit => @col1[0]} }
      %article
        = haml :deposit, {:layout => false, :locals => {:deposit => @col1[1]} }

    .column2
      %article
        = haml :deposit, {:layout => false, :locals => {:deposit => @col1[2]} }
      %article
        = haml :deposit, {:layout => false, :locals => {:deposit => @col1[3]} }
  
    .column3
      %article
        = haml :deposit, {:layout => false, :locals => {:deposit => @col1[4]} }
      %article
        = haml :deposit, {:layout => false, :locals => {:deposit => @col1[5]} }
  

  #toolbar
    controls should appear here
    
- else
  .columns
    .column1
      - @col1.each do |deposit|
        %article
          = haml :deposit, {:layout => false, :locals => {:deposit => deposit} }

    .column2
      - @col2.each do |deposit|
        %article
          = haml :deposit, {:layout => false, :locals => {:deposit => deposit} }
    
    - unless request.user_agent =~ /iPhone/
      .column3
        - @col3.each do |deposit|
          %article
            = haml :deposit, {:layout => false, :locals => {:deposit => deposit} }