#page_heading
  %nav
    %h2
      ="#{@session} session"

#content
  - if request.user_agent =~ /iPad/
    .column1
      - if @col1[0]
        #item1
          %article
            = haml :deposit, {:layout => false, :locals => {:deposit => @col1[0]} }

      - if @col1[1]
        #item2
          %article
            = haml :deposit, {:layout => false, :locals => {:deposit => @col1[1]} }

    .column2
      - if @col1[2]
        #item3
          %article
            = haml :deposit, {:layout => false, :locals => {:deposit => @col1[2]} }
  
      -if @col1[3]  
        #item4
          %article
            = haml :deposit, {:layout => false, :locals => {:deposit => @col1[3]} }
          
    .column3
      - if @col1[4]
        #item5
          %article
            = haml :deposit, {:layout => false, :locals => {:deposit => @col1[4]} }
  
      - if @col1[5]
        #item6
          %article
            = haml :deposit, {:layout => false, :locals => {:deposit => @col1[5]} }
      
  - else
    .column1
      - @col1.each do |deposit|
        %article
          = haml :deposit, {:layout => false, :locals => {:deposit => deposit} }

    .column2
      - @col2.each do |deposit|
        %article
          = haml :deposit, {:layout => false, :locals => {:deposit => deposit} }
  
    - unless request.user_agent =~ /iPhone/
      .column3
        - @col3.each do |deposit|
          %article
            = haml :deposit, {:layout => false, :locals => {:deposit => deposit} }
            
- if request.user_agent =~ /iPad/
  #toolbar
    .tool_text
      Page #{@current_page} of #{@max_pages}