- if request.user_agent =~ /iPad/
  #page_heading
    %nav
      %h2= @session

#content
  - if request.user_agent =~ /iPhone|iPad/
    #scroller
      - if request.user_agent =~ /iPhone/
        #page_heading
          %nav
            %h2= @session
      
      #flowdata{:style => "column-count:3;-webkit-column-count: 3;"}
        - @data.each do |deposit|
          = haml :deposit, {:layout => false, :locals => {:deposit => deposit} }
         
- if request.user_agent =~ /iPad|iPhone/
  #toolbar
    .tool_text
      - if @current_page > 1
        .back_button{:onclick => "window.location='/page/#{@current_page - 1}'"}
          Prev
      - else
        .inactive_back_button
      .page_info
        Page #{@current_page} of #{@max_pages}
      - if @current_page < @max_pages
        .next_button{:onclick => "window.location='/page/#{@current_page + 1}'"}
          Next
      - else
        .inactive_next_button{:onclick => "window.location='/page/#{@current_page + 1}'"}