- if request.user_agent =~ /iPad/
  -# iPad only, place the page_heading at the top of the main_content section
  #page_heading
    %nav
      %h2
        = @title
      
#content
  - if request.user_agent =~ /iPhone|iPad/
    #scroller
      - if request.user_agent =~ /iPhone/ 
        -# iPhone only, nest the page_heading inside the scrolling section
        #page_heading
          %nav
            %h2
              = @title
                
      .column1
        - if @data[0]
          #item1
            = haml :deposit, {:layout => false, :locals => {:deposit => @data[0]} }
              
        - if @data[1]
          #item2
            = haml :deposit, {:layout => false, :locals => {:deposit => @data[1]} }

      .column2
        - if @data[2]
          #item3
            = haml :deposit, {:layout => false, :locals => {:deposit => @data[2]} }
  
        -if @data[3]  
          #item4
            = haml :deposit, {:layout => false, :locals => {:deposit => @data[3]} }

      - unless request.user_agent =~ /iPhone/
        .column3
          - if @data[4]
            #item5
              = haml :deposit, {:layout => false, :locals => {:deposit => @data[4]} }
  
          - if @data[5]
            #item6
              = haml :deposit, {:layout => false, :locals => {:deposit => @data[5]} }
      
      #copyright
        <strong>Source data</strong> &copy; UK Parliament - <strong>Icon</strong> &copy; Mark E. Dyer        
  - else
    -# Everything that's not an iOS device
    %h2
      = @title
    .column1
      - @col1.each do |deposit|
        = haml :deposit, {:layout => false, :locals => {:deposit => deposit} }

    .column2
      - @col2.each do |deposit|
        = haml :deposit, {:layout => false, :locals => {:deposit => deposit} }
  
    .column3
      - @col3.each do |deposit|
        = haml :deposit, {:layout => false, :locals => {:deposit => deposit} }
    %nav.toolbar
      - if @current_page > 1
        %a.prev{:href => "#{@facet_path}/page/#{@current_page - 1}"}
          &lt;&lt; Prev
      - else
        .prev
      - if @max_pages > 1
        .page_info
          Page #{@current_page} of #{@max_pages}
        - if @current_page < @max_pages
          %a.next{:href => "#{@facet_path}/page/#{@current_page + 1}"}
            Next &gt;&gt;
        - else
          .next
    %nav#copyright
      &copy; UK Parliament
      %a{:href => "/about"}
        More about this site
  
- if request.user_agent =~ /iPad|iPhone/
  #toolbar
    .tool_text
      - if @current_page > 1
        .back_button{:onclick => "window.location='#{@facet_path}/page/#{@current_page - 1}'"}
          Prev
      - else
        - if @max_pages >1
          .inactive_back_button
      - if @max_pages > 1
        .page_info
          Page #{@current_page} of #{@max_pages}
        - if @current_page < @max_pages
          .next_button{:onclick => "window.location='#{@facet_path}/page/#{@current_page + 1}'"}
            Next
        - else
          .inactive_next_button